<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Attack page</title>
  </head>
  <body>
    <%if @game.current_turn == @game.player_1 %> <h1><%= @game.player_1.name %> attacked <%=@game.player_2.name %> </h1>
    <%else%>
    <h1><%= @game.player_2.name %> attacked <%=@game.player_1.name %> </h1>
    <%end%>
    <h2><%= @game.player_1.name %>: <%= @game.player_1.hit_points%>HP </h2>
    <h2><%= @game.player_2.name %>: <%= @game.player_2.hit_points%>HP </h2>

    <form action="/switch-turn" method="post">
      <input type="submit" value="Ok">
    </form>
  </body>
</html>
