<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Attack page</title>
  </head>
  <body>
    <h1><%= @game.current_turn %> attacked <%=@game.opponent_of(current_turn)%> </h1>
    <h2><%= @game.player_1.name %>: <%= @game.player_1.hit_points%>HP </h2>
    <h2><%= @game.player_2.name %>: <%= @game.player_2.hit_points%>HP </h2>
    <% if @game.player_2.hit_points <= 0 %> <h2><%= @game.player_2.name %> loses!</h2> <% end %>
    <a href="/play">Ok</a>
  </body>
</html>
