<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Play page </title>
  </head>
  <body>
    <h1>Play: </h1>
    <h2><%= @game.player_2.name%>'s turn</h2>
    <h2><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h2>
    <h2><%= @game.player_2.name %>: <%= @game.player_2.hit_points%>HP </h2>

    <form action="/attack">
      <input type="submit" value="Attack">
    </form>

  </body>
</html>
